# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vagrant
myst
/config.h
/.cproject
bugs
/Debug/
/Release/
utilities/convert
#Autotools
/aclocal.m4
/config.status
Makefile
Makefile.in
!Makefile.am
/autom4te.cache
/.autotools
/.cproject
/.project
/.deps
.*
!.gitignore
/config.guess
/config.sub
stamp-h1
/ltmain.sh
/libtool
config.log
*.orig
*.o
*.a
core
*~
/compile
autoscan.log
configure.scan
*.log
*.sql
conf.h
