# Copy to /etc/nebbie/courtesy_port.env and adjust as needed.
SERVER_PORT=4002
# COURTESY_MESSAGE="\r\nWelcome to Nebbie Arcane.\r\nThe game is not running right now.\r\nPlease try again later.\r\n\r\n"
