/phpdata
*.cache
*.cql
*.cqd
*.csv
*.old
*.gz
*.bz2
/movetest.php
/mysqlimport.sh
/debian/etc
/debian/usr
/debian/var
/ed_data.sql
/goh_master.sql
/autoenums.cpp
/autoenums.hpp
/packets.hpp
/param.hpp
/parser_inc.hpp
/protocol.cpp
/protocol.hpp
/parser_inc.hpp
/tplcache
/goh_boot.php
/post_cron_compile.sh
/script_base.php
/wiki.cache.new
/wiki.cache.old
/wiki.cache.online
/parser_inc.hpp
/db.txt
