<TMPL_LOOP LOOP_ENUMS>
== Enumerations ==

=== enum <TMPL_VAR KEY ESCAPE="LOWERCASE"> ===

<TMPL_IF COMMENT>*<TMPL_VAR COMMENT></TMPL_IF>

<TMPL_LOOP VALUES>
** <TMPL_VAR NAME ESCAPE="UPPERCASE"><TMPL_VAR FILLER>=<TMPL_VAR VALUE><TMPL_IF COMMENT><TMPL_VAR COMMENT></TMPL_IF>

</TMPL_LOOP>
</TMPL_LOOP>
== Constants ==

<TMPL_LOOP LOOP_DEFINES>
<TMPL_IF COMMENT>*<TMPL_VAR COMMENT></TMPL_IF>
**<TMPL_VAR NAME ESCAPE="UPPERCASE"><TMPL_VAR FILLER><TMPL_VAR VALUE> <TMPL_IF COMMENT><TMPL_VAR COMMENT></TMPL_IF>

</TMPL_LOOP>

